.main {
  background-color: rgba(79, 213, 194, 0.3);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
  grid-template-rows: repeat(auto-fill, minmax(360px,1fr));
  grid-gap: 10px;
  //justify-content: space-evenly;
  //align-content: stretch;
  //align-items: stretch;
  //align-self: stretch;
  padding: 10px;

  &-button {
  border-color: red;
}
}
